---
title           : "Arquitetura tradicional, visualização e investigação"
entries_layout  : grid
layout          : splash
page_js         : [ /assets/js/redirect.js ]
excerpt: >
  Serviços técnicos em documentação de sítios culturais,
  representação digital da arquitetura e história da construção
header:
  overlay_image : https://live.staticflickr.com/1811/43372602754_dcfd4f775b_k_d.jpg
  overlay_filter: 0.5
  caption       : "Castelo de Vide, 2018"
  actions:
  - label       : "Contacto"
    url         : mailto:pedro@palazzo.pt

portfolio:
- image_path: https://cdn.palazzo.arq.br/portfolio/inv-teaser.jpg
  alt       : "Mapa com anotações de investigação"
  title     : "Investigação"
  excerpt: |
    Trabalhos científicos em história da construção tradicional e da
    cidade, inventários e inquéritos patrimoniais.
  btn_label : "Publicações"
  btn_class : "btn btn--inverse"
  url       : "/inv/"
- image_path:
  alt       : "Corte construtivo de um edifício histórico"
  title     : "Documentação e intervenção"
  excerpt: |
    Fotogrametria, documentação de sítios existentes, projetos de
    reabilitação, gestão de dados em
    <span class="smallcaps">HBIM</span>,
    <span class="smallcaps">SIG</span> e acervos culturais.
  btn_label : "Projetos"
  btn_class : "btn btn--inverse"
  url       : "/pat/"
- image_path: https://hcommons.org/app/uploads/sites/1001018/2022/04/pt-coimbra-casa-rua-luis-gonzaga-demolida-crop.jpg
  alt       : "Reconstituição 3D de um sítio histórico"
  title     : "Visualização"
  excerpt: |
    Representações digitais e analógicas em duas e três dimensões
    de sítios existentes e projetos.
  btn_label : "Portfolio"
  btn_class : "btn btn--inverse"
  url       : "/vis/"

profile:
- image_path: https://cdn.palazzo.arq.br/portfolio/pp-colonnade-h.jpg
  alt       : "Foto do Pedro"
  title     : "Quem sou eu"
  excerpt: |
    <em>Arquiteto e historiador da arquitetura com experiência em
    preservação e gestão de sítios culturais. Pesquisa as tradições
    construtivas do Mediterrâneo ocidental e do mundo lusófono nos séculos
    <span class="smallcaps">XVIII</span> e <span
    class="smallcaps">XIX</span>, com ênfase nas interfaces entre a
    construção tradicional e a moderna, bem como entre a arquitetura
    erudita da tradição clássica e as tipologias vernáculas.</em>

    <em>Atualmente professor associado na [Faculdade de Arquitetura e
    Urbanismo da Universidade de Brasília](http://www.fau.unb.br) e
    investigador visitante junto ao projeto
    [TechNetEmpire](http://technetempire.fcsh.unl.pt/) na Universidade
    <span class="smallcaps">NOVA</span> de Lisboa. Membro do Comité de
    documentação do conselho científico do Icomos Brasil e realiza trabalhos
    técnicos esporádicos em patrimônio cultural e arquitetura tradicional
    com a [Ábaco Arquitetura](https://www.abaco-arquitetura.com.br).</em>
---

{% include feature_row id="portfolio" %}

{% include feature_row id="profile" type="right" %}

