---
title           : "Arquitetura tradicional, visualização e investigação"
entries_layout  : grid
layout          : splash
page_js         : [ /assets/js/redirect.js ]
excerpt: >
  Serviços técnicos em documentação de sítios culturais,
  representação digital da arquitetura e história da construção
header:
  overlay_image : https://live.staticflickr.com/1811/43372602754_dcfd4f775b_k_d.jpg
  overlay_filter: 0.5
  caption       : "Castelo de Vide, 2018"
  actions:
  - label       : "Contato"
    url         : mailto:pedro@palazzo.arq.br
portfolio:
- image_path: https://cdn.palazzo.arq.br/portfolio/inv-teaser.jpg
  alt       : "Mapa com anotações de investigação"
  title     : "Investigação"
  excerpt   : "Lorem ipsum"
  btn_label : "Publicações"
  url       : "/inv/"
- image_path:
  alt       : "Corte construtivo de um edifício histórico"
  title     : "Documentação e intervenção"
  btn_label : "Projetos"
  url       : "/pat/"
- image_path:
  alt       : "Reconstituição 3D de um sítio histórico"
  title     : "Visualização"
  btn_label : "Portfolio"
  url       : "/vis/"
profile:
- image_path: https://hcommons.org/app/uploads/sites/1001018/2021/05/pp-0535.jpg
  alt       : "Foto do Pedro"
  title     : "Sobre mim"
  excerpt: |
    Arquiteto e historiador da arquitetura com experiência em
    preservação e gestão de sítios culturais. Pesquisa as tradições
    construtivas do Mediterrâneo ocidental e do mundo lusófono nos séculos
    <span class="smallcaps">XVIII</span> e <span
    class="smallcaps">XIX</span>, com ênfase nas interfaces entre a
    construção tradicional e a moderna, bem como entre a arquitetura
    erudita da tradição clássica e as tipologias vernáculas.

    Atualmente professor associado na [Faculdade de Arquitetura e
    Urbanismo da Universidade de Brasília](http://www.fau.unb.br) e
    investigador visitante junto ao projeto
    [TechNetEmpire](http://technetempire.fcsh.unl.pt/) na Universidade
    <span class="smallcaps">NOVA</span> de Lisboa. Membro do Comité de
    documentação do conselho científico do Icomos Brasil e realiza trabalhos
    técnicos esporádicos em patrimônio cultural e arquitetura tradicional
    com a [Ábaco Arquitetura](https://www.abaco-arquitetura.com.br).

    Contato: via redes sociais (links no topo da página)
---

{% include feature_row id="portfolio" %}

{% include feature_row id="profile" type="right" %}

