---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url("https://use.typekit.net/hny1sfi.css");
@import url("https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css");

/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

/* system typefaces */
$serif: "cormorant-garamond", Georgia, Times, serif;
$sans-serif: "source-sans-pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$monospace: "source-code-pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;

/* serif typefaces */
$garamond: "eb-garamond", "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

$global-font-family: $garamond;
$header-font-family: $garamond;
$caption-font-family: $garamond;

$sans-serif-narrow: $sans-serif;

/*
   Colors
   ========================================================================== */

$lighter-gray: #fffff8;
$darker-gray: #111;
$dark-gray: lighten($darker-gray, 10%);

$background-color: $lighter-gray;
$text-color: $darker-gray;

/*
   Other
   ========================================================================== */

//$border-radius: 0;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 300px;
$right-sidebar-width: 300px;
$right-sidebar-width-wide: 400px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$meta-font-weight: 300;
$heading-font-weight: 400;

@import
  "tufte",
  "tufte-extra",
  "pandoc",
  "pandoc-solarized",
  "local",
	"revealjs-support"
;

/*******************************************
 * Masthead, site title and navigation links
 *******************************************/
.masthead__inner-wrap {
    font-family: $header-font-family;
}

// Better size and margins for icons
ul.visible-links {
	font-size: $h-size-4;
  a {
    margin: 0 0.3rem;
  }
}

/****************************
 * Header overlay gradients *
 ****************************/
.page__content {
	h1,
	h2 {
		font-weight: $heading-font-weight;
	}
}
// vim: set shiftwidth=2 tabstop=2 foldmethod=indent :
